:root {
  --parmary-color: #ff9854;
  --van-search-left-icon-color: var(--parmary-color) !important;
}

body {
  font-family: PingFangSC-Regular, Helvetica Neue, sans-serif;
  font-size: 14px;
  background-color: #f7f8fb;
}